%h2 Tasks
/= render 'shared/links'
/= render 'shared/newfilters'

%ul
	- @tasks.each do |task|
		= render 'show', task: task, depth: 0, show_children: @task == task ? true : false
		
%div#taskform.task
		
%div.task
	= link_to "New Task", new_task_path, id: 'new-task'
