%h2 Tasks
/= render 'shared/links'
/= render 'shared/newfilters'

%ul
	- @tasks.each do |task|
		= render 'show', task: task, depth: 0, show_children: false
	%li{class: "new task #{cycle('odd', 'even', name: :task_class)}"}!= link_to "New Task", new_task_path, id: 'new-task'
		

/=render 'show', tasks: @tasks, depth: 0, show_children: false
/= render 'show', children: @tasks, filters: @filters, depth: 0, show_children: false
						



